.obligatorio {
    color: #bf1650;
    display: block;
}

.obligatorio::before {
    display: inline;
    content: "⚠ ";
}

.pull-right {
    float: right !important;
}

.static-filter {
    display: block;
}
